{% extends 'baseBack.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Edit Evenement</h1>

    {{ include('evenement_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evenement_back_index') }}">back to list</a>

    {{ include('evenement_back/_delete_form.html.twig') }}
{% endblock %}
