{% extends 'baseBack.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>

    <a href="{{ path('app_evenement_back_index') }}">back to list</a>
    {{ include('evenement_back/_form.html.twig') }}

{% endblock %}
