{% extends 'baseBack.html.twig' %}

{% block title %}Edit ReservationEvent{% endblock %}

{% block body %}
    <h1>Edit Reservation Event</h1>

    {{ include('reservation_event_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_event_back_index') }}">back to list</a>

    {{ include('reservation_event_back/_delete_form.html.twig') }}
{% endblock %}
